<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-devour="{{devoured}}">
		{{#if devoured}}YUM YUM{{else}}DEVOUR!{{/if}}
	</button>

	<button data-id="{{id}}" class="delete-burger">DELETE BURGER</button>
</li>
